@use "../globals/index" as *;
header {
  width: 960px;
  max-width: 100%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
  .site-title {
    a {
      img {
        width: 120px;
        height: 40px;
      }
    }
  }

  nav {
    ul {
      display: flex;
      list-style: none;
      li {
        margin-left: 20px;
        a {
          font-size: 1em;
          text-decoration: none;
          color: black;
          transition: color 0.3s;
          &:hover {
            color: gray;
          }
        }
      }
    }
  }
}

main {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  #mainvisual {
    margin-bottom: 80px;
    img {
      width: 100%;
      max-width: 1920px;
      height: calc(100vh - 60px);
      @include mq("md") {
        height: 600px;
      }
      object-fit: cover;
    }
  }

  section {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;

    & h2 {
      display: inline-block;
      font-size: 2rem;
      text-align: center;
      margin-bottom: 60px;
      border-bottom: 1px solid black;
    }

    &#about .content {
      display: flex;
      flex-direction: column;
      @include mq(md) {
        flex-direction: row;
      }
      margin-bottom: 80px;
      justify-content: center;
      align-items: center;
      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 20px;
      }
      & .text {
        h3 {
          font-size: 1rem;
          margin-bottom: 20px;
          text-align: left;
        }
      }
    }

    &#Bicycle {
      ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include mq(md) {
          flex-direction: row;
        }
        li {
          flex-basis: 30%;
          padding: 0 20px;
          margin: 20px 0;
          h4 {
            margin: 20px 0;
          }
          p {
            font-size: 0.8em;
          }
        }
      }
    }
  }
}

footer {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 60px 0 10px 0;
  font-size: 0.5em;
}
