doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        header.wrapper
            h1.site-title
                a(href="index.html")
                    img(src="./images/logo.svg", alt="logo")
            nav
                ul
                    li
                        a(href="#about") About
                    li
                        a(href="#Bicycle") Bicycle

        main
            #mainvisual
                img(src="./images/mainvisual.jpg", alt="")

            section#about
                h2 About
                .content
                    img(src="./images/about.jpg", alt="")
                    .text
                        h3.content__title KAKERU MIYAICHI
                        p テキストテキストテキストテキストテキストテキスト テキスト<br/>テキストテキストテキストテキストテキストテキストテキスト<br/>テキストテキストテキストテキストテキストテキストテキスト<br/>

            section#Bicycle
                h2 Bicycle
                ul
                    li
                        img(src="./images/bicycle1.jpg", alt="")
                        h4 タイトルタイトル
                        p テキストテキストテキスト
                    li
                        img(src="./images/bicycle2.jpg", alt="")
                        h4 タイトルタイトル
                        p テキストテキストテキスト
                    li
                        img(src="./images/bicycle3.jpg", alt="")
                        h4 タイトルタイトル
                        p テキストテキストテキスト
            footer
                p © 2021 KAKERU MIYAICHI








